#main{
    background-color: #FFF4D8;
    text-align: center;
    border-radius: 20px;
}

.startbtn {
    background-color: #95DEBD;
    color: black;
    border-radius: 20px;
    width: 40%;
    font-weight: bold;
}

.startbtn:hover, .startbtn:focus {
    background-color: #83B7A7;
}