#testresult {
    background-color: #FFF4D8;
    text-align: center;
    border-radius: 20px;
}

#resultnpc {
    color: #7E4E33;
    text-align: center;
    font-size:24px;
    font-weight: bold;
}

.retrybtn, .gohomebtn {
    background-color: #95DEBD;
    border-radius: 20px;
    width: 50%;
    text-align: center;
    font-weight: bold;
}

.retrybtn:hover, .retrybtn:focus, .gohomebtn:hover, .gohomebtn:focus {
    background-color: #83B7A7;    
}